@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --biru: #90AEFF;
    --ungu: #C190FF;
    --orange: #FCC986;
    --kuning: #DAFC86;
    --hijau: #60EFB8;
    --mint: #60EFE6;
    --cream: #F9F7F7;
}

body {
    font-family: "Poppins";
    background-color: #ffffff;
    background-image:  radial-gradient(var(--hijau) 1px, transparent 0.9px), radial-gradient(var(--mint) 1px, #ffffff 0.9px);
    background-size: 36px 36px;
    background-position: 0 0,18px 18px;
}

article {
    background-color: var(--cream);
    padding: 50px;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 50px;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.circle {
    border-radius: 50%;
}

.cc-color {
    width: 60px;
    max-width: 60px;
    height: 60px;
    max-height: 60px;
}

#ai-result-title {
    gap: 20px;
}

#ai-result-title div.title {
    background-color: white;
    width: 79.8%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    p {
        font-size: 30px;
        margin: 0;
        padding-left: 20px;
    }
}

#ai-result {
    margin-bottom: 5%;
}

/* kolom buat hasil text ml ai */
#ai-result-text {
    margin-top: 30px;
    min-height: 300px;
}

.card-iot {
    width: 300px;
    height: 120px;
    padding: 30px;
    border-radius: 30px;
}

.card-iot h3 {
    font-size: 15px;
}

.card-iot h1 {
    margin: 0;
    font-size: 30px;
}

.bg-radius {
    border-radius: 30px;
    padding: 15px;
}

.bg-white {
    background-color: white;
}

#c-judul-input{
    text-align: center;
    font-size: 20px;
    margin-top: 0;
}

/* form gejala */

#form-gejala{
    div {
        margin-bottom: 20px;
        gap: 20px;
        font-size: 15px;
        label {
            width: 150px;
            justify-content: center;
            max-height: 80px;
            text-align: center;
            display: flex;
            align-items: center;
            min-width: 150px;
        }
        textarea {
            width: 79%;
            max-width: 79%;
            min-height: 50px;
            padding: 25px;
            border: none;
            overflow: hidden;
            font-family: "Poppins";
            font-size: 15px;
        }
        textarea::placeholder {
            font-family: "Poppins";
            font-style: italic;
        }
    }
    button {
        width: 100%;
        border: none;
        background: linear-gradient(to right, var(--biru), var(--ungu));
        color: white;
        font-weight: bold;
        font-size: 17px;
    }
}

/* Css individu */
#iot-value {
    justify-content: space-between;
    color: white;
}

.card-iot:nth-child(1), .cc-color:nth-child(1) {
    background: linear-gradient(to right, var(--biru), var(--ungu));
}

.card-iot:nth-child(2), .cc-color:nth-child(2) {
    background: linear-gradient(to right, var(--orange), var(--kuning));
}

.card-iot:nth-child(3), .cc-color:nth-child(3) {
    background: linear-gradient(to right, var(--hijau), var(--mint));
}

.card-iot{
    position: relative;
    overflow: hidden;
    .circles {
        position: absolute;
        bottom: -60px;
        right: 0px;
    }
    
    .circle {
        position: absolute;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.2);
    }
    
    .circle.small {
        width: 120px;
        height: 120px;
        bottom: 70px;
        right: -50px;
    }
    
    .circle.large {
        width: 150px;
        height: 150px;
        bottom: 0;
        right: 0;
        left: 40;
    }
}
