@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --biru: #90AEFF;
    --ungu: #C190FF;
    --orange: #FCC986;
    --kuning: #DAFC86;
    --hijau: #60EFB8;
    --mint: #60EFE6;
    --cream: #F9F7F7;
    --creamrgb: rgba(255, 255, 255, 0.378);
}

body {
    font-family: "Poppins";
    background: linear-gradient(to bottom right, var(--cream), #DAE4FF, var(--cream), #EADAFF, #F3E3EF, var(--cream));
}

article {
    background-color: var(--creamrgb);
    padding: 5%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 50px;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.circle {
    border-radius: 50%;
}

.bg-radius {
    border-radius: 30px;
    padding: 15px;
}

.bg-white {
    background-color: white;
}

.d-flex.no-wrap {
    flex-wrap: nowrap;
}

/* container iot value  */
#iot-value {
    justify-content: space-between;
    color: white;
    gap: 5%;
}

.card-iot{
    position: relative;
    overflow:  hidden !important;
    flex: 1;
    align-items: stretch;
    padding: 3%;
    border-radius: 30px;
    .circles {
        position: absolute;
        bottom: -60px;
        right: 0px;
    }
    
    .circle {
        position: absolute;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.2);
    }
    
    .circle.small {
        width: 120px;
        height: 120px;
        bottom: 70px;
        right: -50px;
    }
    
    .circle.large {
        width: 150px;
        height: 150px;
        bottom: 0;
        right: 0;
        left: 40;
    }
}

.card-iot h3 {
    font-size: 20px;
    margin-bottom: 3%;
    margin-top: 3%;
    font-weight: 400;
}

.card-iot .material-symbols-outlined {
    font-size: 30px;
}

.card-iot h1 {
    margin: 0;
    font-size: 30px;
}

/* container form gejala */
#form-gejala{
    div {
        margin-bottom: 20px;
        gap: 20px;
        font-size: 15px;
        label {
            flex: 1;
            justify-content: center;
            max-height: 80px;
            text-align: center;
            min-width: 150px;
            display: flex;
            align-items: center;
            width: -webkit-fill-available;
        }
        textarea {
            flex: 4;
            max-width: -webkit-fill-available;
            min-height: 50px;
            padding: 25px;
            border: none;
            overflow: hidden;
            font-family: "Poppins";
            font-size: 15px;
        }
        textarea::placeholder {
            font-family: "Poppins";
            font-style: italic;
        }
    }
    button {
        width: 100%;
        border: none;
        background: linear-gradient(to right, var(--biru), var(--ungu));
        color: white;
        font-weight: bold;
        font-size: 17px;
    }
}

/* container ai result */
#ai-result-title, #triple-circle {
    gap: 20px;
}

#ai-result-title div.title {
    background-color: white;
    flex: 7;
    border-radius: 25px;
    display: flex;
    align-items: center;
    p {
        font-size: 30px;
        margin: 0;
        padding-left: 20px;
    }
}

#ai-result {
    margin-bottom: 5%;
}

#ai-result-text {
    margin-top: 30px;
    min-height: 300px;
}

#c-judul-input{
    text-align: center;
    font-size: 20px;
    margin-top: 0;
}

.cc-color {
    width: 60px;
    max-width: 60px;
    height: 60px;
    max-height: 60px;
}

/* Css individu */

.card-iot:nth-child(1), .cc-color:nth-child(1) {
    background: linear-gradient(to right, var(--biru), var(--ungu));
}

.card-iot:nth-child(2), .cc-color:nth-child(2) {
    background: linear-gradient(to right, var(--orange), var(--kuning));
}

.card-iot:nth-child(3), .cc-color:nth-child(3) {
    background: linear-gradient(to right, var(--hijau), var(--mint));
}

/* RESPONSIVE */
/* ukuran 390 x 844 iphone*/

@media only screen and (max-width: 651px) {

    .card-iot {
        justify-content: center;
    }
    
    .card-iot h3{
        font-size: 58%;
        text-align: center;
    }
    
    .card-iot h1 {
        margin: 0;
        font-size: 30px;
    }

    .special-respon{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #c-judul-input {
        font-size: 80%;
    }
    
    #form-gejala {
        label {
            font-size: 80%;
        }
    }

    #triple-circle {
        justify-content: center;
    }

    #ai-result-title {
        flex-direction: column;
        .title {
            justify-content: center;
        }
    }
    #ai-result-title div.title p {
        padding-left: 0;
        font-size: 20px;
        padding: 10px;
    }
}